
<div>
    <a routerLink="/portfolio/new" class="btn btn-primary">nouvel article</a>
</div>
<div>
    <article *ngFor="let portfolio of portfolios">
        <h2>
            <a [routerLink]="['/portfolio', portfolio.id]">
                    {{ portfolio.title | more:15 }}
            </a>
        </h2>
        <p>{{ portfolio.body | more:90 }}</p>
        <hr>
        <button 
            class="btn btn-danger" 
            (click)="onClickDelete(portfolio)">
            supprimer
        </button>
        &nbsp;
        <button class="btn btn-warning"
            (click)="onClickUpdate(portfolio)">
            mis à jour
        </button>
    </article>
</div>